[submodule "Razer/external/spdlog"]
	path = Razer/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Razer/external/GLFW"]
	path = Razer/external/GLFW
	url = https://github.com/glfw/glfw
[submodule "Razer/external/imgui"]
	path = Razer/external/imgui
	url = https://github.com/ocornut/imgui
[submodule "Razer/external/glm"]
	path = Razer/external/glm
	url = https://github.com/g-truc/glm
